.banner-wavy {
    background: url('../../assets/images/banner-wavy-bg.png'), linear-gradient(180deg, #001F4D 0%, rgba(0, 31, 77, 0.17) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    width: 100%;
}