.get-started-btn {
    background: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%) !important;
    border-radius: 2px;
}
.watch-video-btn {
    border: 1px solid #266FD9;
    border-radius: 2px;
}
.subscribe-btn {
    border: 1px solid #2880FF;
    border-radius: 2px;
}