.get-started-btn-01 {
    background: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%) !important;
    border-radius: 2px;
}
.get-started-btn-02 {
    background: linear-gradient(93.75deg, #266FD9 -8.37%, #02D7BD 111.82%) !important;
    border-radius: 2px;
}
.start-courses-btn {
    background: linear-gradient(93.75deg, #266FD9 -8.37%, #02D7BD 111.82%) !important;
    border-radius: 2px;
}
.get-started-btn-03 {
    background: #FFFFFF !important;
    border-radius: 2px;
}
.signup-btn-to-header {
    background: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%) !important;
    border-radius: 2px;
}
.transparent-btn {
    border: 1px solid #266FD9;
    border-radius: 2px;
}
.subscribe-btn {
    border: 1px solid #2880FF;
    border-radius: 2px;
}