.customer-support {
    background-image: url('../../assets/images/customer-support-wavy.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}