.dashboard-wrap {
    position: relative;
    // background: linear-gradient(180deg, #01327B 0%, #001330 100%);
    // z-index: 0;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../../assets/images/background.png');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     z-index: -1;
    // }
    &.hide-header-footer {
        header,
        footer {
            display: none;
        }
    }
    .dashboard-tab-content-wrapper {
        background: #001B44;
    }
    .dashboard-nav {
        background: #001F4D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        ul {
            li {
                a {
                    &.active {
                        background: #002864;
                    }
                }
            }
        }
    }
    .dashboard-header {
        background: #001F4D;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.19);
    }
    .notifications-list {
        li {
            background: #002864;
            border: 1px solid #003078;
            box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
    }
    .plan-box {
        width: 50px;
        height: 50px;
        background: #002864;
        border: 1px solid #003078;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        span {
            text-shadow: 2px 2px 5px #00FF94;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
            color: #00FF94;
        }
    }
    .the-banner-info-card {
        background: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%);
        border-radius: 10px;
    }
    .schedule-at-btn {
        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%) !important;
        color: #FFFFFF;
    }
    .video-js {
        width: 100%;
    }
    .affiliate-box {
        background: #002864;
        border: 1px solid #003078;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .the-referral-url-card {
        background: #002864;
        border-radius: 10px;
    }
    .the-copy-btn {
        background: linear-gradient(93.75deg, #266FD9 -8.37%, #00FF94 111.82%);
        border-radius: 2px;
    }
}