.faq {
  &.faq-bg {
    background-image: url('../../assets/images/faq-wavy.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }    
    ul.accordion-list {
        position: relative;
        display: block;
        width: 100%;
        height: auto;        
        margin: 0;
        list-style: none;
        li {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          color: $white-color;
          background-color: #001f4d;
          padding: 20px;
          margin: 0 auto 15px auto;
          cursor: pointer;
          &.active {
            h3 {
              &:after {
                transform: rotate(45deg);
              }
            }
          }
          h3 {
            font-weight: 400;
            position: relative;
            width: 100%;
            height: auto;            
            margin: 0;            
            letter-spacing: 0.01em;
            cursor: pointer;
          }
          div.accordion-content {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            cursor: pointer;      
            p {
              position: relative;
              display: block;
              font-weight: 300;
              padding: 10px 0 0 0;
              cursor: pointer;
              line-height: 150%;
              margin: 0 0 15px 0;
              font-size: 14px;
            }
          }
      }
    }
}