.hero {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url('../../assets/images/hero-wavy.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
        right: 0;
        background-position: bottom right;
        top: 220px;
        z-index: -1;
    }    
}